<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> AAAA 0000 | Course Title Here</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
.well{
background-color: rgb(255, 255, 255);
}
</style>



  </head>
  <body>
    <br>
    <div class="container"> <!-- BEGIN MAIN CONTAINER -->
<div class="well well-sm text-center"><strong>Institución:</strong> Jeje Designs | <strong>Nombre:</strong> Título del Seminario, Taller o Curso | <strong>Código:</strong> AAAA0000<br><strong>Instructor:</strong> E. Merced | <strong>Salón:</strong> Virtual | <strong>Horario:</strong> Por acuerdo</p></div>

<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Anuncio:</strong> Anuncio especial aquí.
</div>



<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
           <span class="glyphicon glyphicon-home"></span> Introducción y Preliminares
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#tab1a" role="tab" data-toggle="tab">Bienvenida</a></li>
  <li><a href="#tab1b" role="tab" data-toggle="tab">Registro</a></li>
  <li><a href="#tab1c" role="tab" data-toggle="tab">Calendario</a></li>
  <li><a href="#tab1d" role="tab" data-toggle="tab">Contacto</a></li>
    <li><a href="#tab1e" role="tab" data-toggle="tab">Descargas</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="tab1a">
<div class="row">
  <div class="col-md-6">
<br>
<p>Bienvenidos al <strong>Seminario Nombre del Seminario.</strong> Mi nombre es <strong>Edwin Merced</strong> y tendré el privilegio de facilitar esta experiencia de aprendizaje para a ustedes.</p>
<p>Favor de completar el proceso de registro del curso y explorar los recursos instruccionales y actividades de aprendizaje y evaluación. Explore el prontuario, diseño curricular, calendario y referencias del seminario.</p>

  </div>
  <div class="col-md-6">
<br>
<img src="assets/images/image1.jpg" width="100" height="100">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/image2.jpg" width="100" height="100">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/image3.jpg" width="100" height="100">


  </div>
</div>

  </div>
  <div class="tab-pane" id="tab1b">

<div class="row">
  <div class="col-md-6">
<br>
<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombres</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nombres">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Número de Estudiante</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Número de Estudiante">
  </div>

    <div class="form-group">
    <label for="exampleInputEmail1">Término (CRN)</label>
   <select class="form-control" id="CRN" placeholder="CRN">
  <option>0000</option>
  <option>0001</option>
  <option>0002</option>
  <option>0003</option>
  <option>0004</option>
  <option>0005</option>
</select>
  </div>

   <div class="form-group">
    <label for="exampleInputEmail1">Número Telefónico de Contacto</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Número Telefónico de Contacto">
  </div>

 
</form>


  </div>
  <div class="col-md-6">




<br>
<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Apellidos</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Apelliods">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Correo Electrónico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo Electrónico">
  </div>

    <div class="form-group">
    <label for="exampleInputEmail1">Curso</label>
   <select class="form-control" id="Curso" placeholder="Curso">
  <option>EDUC 2060</option>
  <option>EDUC 3470</option>
  <option>EDUC 4009</option>
  <option>EDUC 6066</option>
</select>
  </div>
<br>
 <button type="submit" class="btn btn-default btn pull-right">Enviar</button>

</form>

  </div>

</div>

  </div>
  <div class="tab-pane" id="tab1c">

<div class="row">
  <div class="col-md-12">

<br>
<table class="table table-hover table-striped">
  
<tr>
  <th>Unidad</th>
  <th>Actividades de Aprendizaje</th> 
  <th>Eventos de Evaluación</th>
   <th>Fecha de Entrega | Duración</th>
</tr>
<tr class="success">
  <td>Unidad A</td>
  <td></td>
  <td>Registro<br>Prueba Diagnóstica<br>Correo Electrónico<br>Presentación en Foro</td>
  <td>00.00.2014 | 00 horas</td>
</tr>

<tr>
  <td>Unidad 1</td>
<td>Lecturas<br>Mediacasts<br>Conferencia<br>Presentación<br>Interacción</td> 
  <td>Hojas de Trabajo<br>Trabajos Colaborativos<br>Trabajo Final<br>Participación en Foro</td>
  <td>00.00.2014 | 00 horas</td>
</tr>

<tr>
  <td>Unidad 2</td>
<td>Lecturas<br>Mediacasts<br>Conferencia<br>Presentación<br>Interacción</td> 
  <td>Hojas de Trabajo<br>Trabajos Colaborativos<br>Trabajo Final<br>Participación en Foro</td>
  <td>00.00.2014 | 00 horas</td>
</tr>

<tr>
  <td>Unidad 3</td>
<td>Lecturas<br>Mediacasts<br>Conferencia<br>Presentación<br>Interacción</td> 
  <td>Hojas de Trabajo<br>Trabajos Colaborativos<br>Trabajo Final<br>Participación en Foro</td>
  <td>00.00.2014 | 00 horas</td>
</tr>

<tr>
  <td>Unidad 4</td>
<td>Lecturas<br>Mediacasts<br>Conferencia<br>Presentación<br>Interacción</td> 
  <td>Hojas de Trabajo<br>Trabajos Colaborativos<br>Trabajo Final<br>Participación en Foro</td>
  <td>00.00.2014 | 00 horas</td>
</tr>

<tr>
  <td>Unidad 5</td>
<td>Lecturas<br>Mediacasts<br>Conferencia<br>Presentación<br>Interacción</td> 
  <td>Hojas de Trabajo<br>Trabajos Colaborativos<br>Trabajo Final<br>Participación en Foro</td>
  <td>00.00.2014 | 00 horas</td>
</tr>


<tr class="danger">
  <td>Unidad Z</td>
  <td>Preguntas y Respuestas</td>
  <td>Prueba Sumativa<br>Evaluación
  <td>00.00.2014 | 00 horas</td>
</tr>


</table>


  </div>

</div>

  </div>
  <div class="tab-pane" id="tab1d">

<div class="row">
  <br>
  <div class="col-md-2"><img src="assets/images/image1.jpg width="150" height="150""></div>
   <div class="col-md-4">
    <strong>Edwin Merced</strong><br>
<span class="glyphicon glyphicon-globe"></span> http://www.edwinmerced.com<br>
<span class="glyphicon glyphicon-earphone"></span> +1 787.272.5059<br>
<span class="glyphicon glyphicon-envelope"></span> edwinmerced@gmail.com<br>
Sígame en: <i class="fa fa-skype"></i> <i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i> <i class="fa fa-google-plus"></i>  <i class="fa fa-linkedin"></i>
   </div>
  <div class="col-md-4">


<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Correo Electrónico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo Electrónico">
  </div>

    <div class="form-group">
    <label for="exampleInputEmail1">Asunto</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Asunto">
  </div>


    <div class="form-group">
    <label for="exampleInputEmail1">Mensaje</label>
   <textarea class="form-control" id="exampleMessage" placeholder="Mensaje"rows="3"></textarea>
  </div>

 
  <button type="submit" class="btn btn-default btn pull-right">Enviar</button>
</form>


  </div>

</div>

  </div>
    <div class="tab-pane" id="tab1e">

<div class="row">
  <div class="col-md-4"><br><strong>Descargas</strong><br>


<br>
   <ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-cloud-download"></span> <a href="#">Descarga 1</a></li>
      <li><span class="glyphicon glyphicon-cloud-download"></span> <a href="#">Descarga 2</a></li>
      <li><span class="glyphicon glyphicon-cloud-download"></span> <a href="#">Descarga 3</a></li>
      <li><span class="glyphicon glyphicon-cloud-download"></span> <a href="#">Descarga 4</a></li>
      <li><span class="glyphicon glyphicon-cloud-download"></span> <a href="#">Descarga 5</a></li>
    </ul>

  </div>
  <div class="col-md-4"><br><strong>Plantillas</strong><br>

<br>
<ul style="list-style: none;">
      <li><span class="glyphicon  glyphicon-file"></span> <a href="#">Plantilla 1</a></li>
      <li><span class="glyphicon  glyphicon-file"></span> <a href="#">Plantilla 2</a></li>
      <li><span class="glyphicon  glyphicon-file"></span> <a href="#">Plantilla 3</a></li>
      <li><span class="glyphicon  glyphicon-file"></span> <a href="#">Plantilla 4</a></li>
      <li><span class="glyphicon  glyphicon-file"></span> <a href="#">Plantilla 5</a></li>
    </ul>

  </div>
  <div class="col-md-4"><br><strong>Aplicaciones Web</strong><br>

<br>

<ul style="list-style: none;">
      <li><span class="glyphicon  glyphicon-globe"></span> <a href="#">Aplicación Web 1</a></li>
      <li><span class="glyphicon  glyphicon-globe"></span> <a href="#">Aplicación Web 2</a></li>
      <li><span class="glyphicon  glyphicon-globe"></span> <a href="#">Aplicación Web 3</a></li>
      <li><span class="glyphicon  glyphicon-globe"></span> <a href="#">Aplicación Web 4</a></li>
      <li><span class="glyphicon  glyphicon-globe"></span> <a href="#">Aplicación Web 5</a></li>
    </ul>

  </div>
</div>

    </div>
</div>




      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
           <span class="glyphicon glyphicon-wrench"></span> Recursos y Actividades de Aprendizaje
        </a>


      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#tab2a" role="tab" data-toggle="tab">Unidad 0</a></li>
  <li><a href="#tab2b" role="tab" data-toggle="tab">Unidad 1</a></li>
  <li><a href="#tab2c" role="tab" data-toggle="tab">Unidad 2</a></li>
  <li><a href="#tab2d" role="tab" data-toggle="tab">Unidad 3</a></li>
  <li><a href="#tab2e" role="tab" data-toggle="tab">Unidad 4</a></li>
  <li><a href="#tab2e" role="tab" data-toggle="tab">Unidad 5</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="tab2a">

<div class="row">
  <div class="col-md-4"><br><strong>Documentos Preliminares</strong><br><br>
   <ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Prontuario</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Plan de Evaluación</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Rúbrica</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Convenio de Aprendizaje</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Reglamento de Estudiantes</a></li>
    </ul>

</div>
  <div class="col-md-4"><br><strong>Lecturas Iniciales</strong><br><br>

<ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 1</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 2</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 3</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 4</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 5</a></li>
    </ul>


  </div>
  <div class="col-md-4"><br><strong>Enlaces Web de Consulta General</strong><br><br>

<ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Real Academica Española</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Google Scholar</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Merriam-Webster</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Glosario del Curso</a></li>

    </ul>


  </div>
</div>


  </div>

  <div class="tab-pane" id="tab2b">

<div class="row"><br>
  <div class="col-md-12"><strong>Pregunta Esencial:</strong> Pregunta esencial aquí.</div>
</div>

<div class="row">
  <div class="col-md-4"><br><strong>Actividades de Exploración</strong><br><br>
   <ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-th-large"></span> <a href="#">Presentación</a></li>
      <li><span class="glyphicon glyphicon-list"></span> <a href="#">Transcripción de Conferencia</a></li>
      <li><span class="glyphicon glyphicon-volume-up"></span> <a href="#">Audiocast</a></li>
      <li><span class="glyphicon glyphicon-facetime-video"></span> <a href="#">Videocast</a></li>
      <li><span class="glyphicon glyphicon-hand-up"></span> <a href="#">Interacción de Aprendizaje</a></li>
      <li><span class="glyphicon glyphicon-compressed"></span> <a href="#">Lecturas Suplementarias</a></li>
    </ul>

</div>
  <div class="col-md-4"><br><strong>Lecturas de la Unidad</strong><br><br>

<ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 1</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 2</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 3</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 4</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 5</a></li>
    </ul>


  </div>
  <div class="col-md-4"><br><strong>Enlaces Web de la Unidad</strong><br><br>

<ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 1</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 2</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 3</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 4</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 5</a></li>
    </ul>


  </div>
</div>



  </div>
  <div class="tab-pane" id="tab2c">

<div class="row"><br>
  <div class="col-md-12"><strong>Pregunta Esencial:</strong> Pregunta esencial aquí.</div>
</div>

<div class="row">
  <div class="col-md-4"><br><strong>Actividades de Exploración</strong><br><br>
   <ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-th-large"></span> <a href="#">Presentación</a></li>
      <li><span class="glyphicon glyphicon-list"></span> <a href="#">Transcripción de Conferencia</a></li>
      <li><span class="glyphicon glyphicon-volume-up"></span> <a href="#">Audiocast</a></li>
      <li><span class="glyphicon glyphicon-facetime-video"></span> <a href="#">Videocast</a></li>
      <li><span class="glyphicon glyphicon-hand-up"></span> <a href="#">Interacción de Aprendizaje</a></li>
      <li><span class="glyphicon glyphicon-compressed"></span> <a href="#">Lecturas Suplementarias</a></li>
    </ul>

</div>
  <div class="col-md-4"><br><strong>Lecturas de la Unidad</strong><br><br>

<ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 1</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 2</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 3</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 4</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 5</a></li>
    </ul>


  </div>
  <div class="col-md-4"><br><strong>Enlaces Web de la Unidad</strong><br><br>

<ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 1</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 2</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 3</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 4</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 5</a></li>
    </ul>


  </div>
</div>


  </div>
  <div class="tab-pane" id="tab2d">


<div class="row"><br>
  <div class="col-md-12"><strong>Pregunta Esencial:</strong> Pregunta esencial aquí.</div>
</div>


<div class="row">
  <div class="col-md-4"><br><strong>Actividades de Exploración</strong><br><br>
   <ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-th-large"></span> <a href="#">Presentación</a></li>
      <li><span class="glyphicon glyphicon-list"></span> <a href="#">Transcripción de Conferencia</a></li>
      <li><span class="glyphicon glyphicon-volume-up"></span> <a href="#">Audiocast</a></li>
      <li><span class="glyphicon glyphicon-facetime-video"></span> <a href="#">Videocast</a></li>
      <li><span class="glyphicon glyphicon-hand-up"></span> <a href="#">Interacción de Aprendizaje</a></li>
      <li><span class="glyphicon glyphicon-compressed"></span> <a href="#">Lecturas Suplementarias</a></li>
    </ul>

</div>
  <div class="col-md-4"><br><strong>Lecturas de la Unidad</strong><br><br>

<ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 1</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 2</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 3</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 4</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 5</a></li>
    </ul>


  </div>
  <div class="col-md-4"><br><strong>Enlaces Web de la Unidad</strong><br><br>

<ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 1</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 2</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 3</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 4</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 5</a></li>
    </ul>


  </div>
</div>


  </div>
  <div class="tab-pane" id="tab2e">


<div class="row"><br>
  <div class="col-md-12"><strong>Pregunta Esencial:</strong> Pregunta esencial aquí.</div>
</div>


<div class="row">
  <div class="col-md-4"><br><strong>Actividades de Exploración</strong><br><br>
   <ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-th-large"></span> <a href="#">Presentación</a></li>
      <li><span class="glyphicon glyphicon-list"></span> <a href="#">Transcripción de Conferencia</a></li>
      <li><span class="glyphicon glyphicon-volume-up"></span> <a href="#">Audiocast</a></li>
      <li><span class="glyphicon glyphicon-facetime-video"></span> <a href="#">Videocast</a></li>
      <li><span class="glyphicon glyphicon-hand-up"></span> <a href="#">Interacción de Aprendizaje</a></li>
      <li><span class="glyphicon glyphicon-compressed"></span> <a href="#">Lecturas Suplementarias</a></li>
    </ul>

</div>
  <div class="col-md-4"><br><strong>Lecturas de la Unidad</strong><br><br>

<ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 1</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 2</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 3</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 4</a></li>
      <li><span class="glyphicon glyphicon-book"></span> <a href="#">Lectura 5</a></li>
    </ul>


  </div>
  <div class="col-md-4"><br><strong>Enlaces Web de la Unidad</strong><br><br>

<ul style="list-style: none;">
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 1</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 2</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 3</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 4</a></li>
      <li><span class="glyphicon glyphicon-globe"></span> <a href="#">Enlace Web 5</a></li>
    </ul>


  </div>
</div>

  </div>
</div>


      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
           <span class="glyphicon glyphicon-ok"></span> Evaluación y Assessment
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        




<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#tab3a" role="tab" data-toggle="tab">Unidad 1</a></li>
  <li><a href="#tab3b" role="tab" data-toggle="tab">Unidad 2</a></li>
  <li><a href="#tab3c" role="tab" data-toggle="tab">Unidad 3</a></li>
  <li><a href="#tab3d" role="tab" data-toggle="tab">Unidad 4</a></li>
  <li><a href="#tab3e" role="tab" data-toggle="tab">Unidad 5</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="tab3a">

<div class="row"><br><!-- CONTENT TAB BEGNIS HERE -->
  <div class="col-md-4"><strong>Evaluación Formativa</strong>


<ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 1</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 2</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 3</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 4</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 5</a></li>
    </ul>



  </div>
  <div class="col-md-4"><strong>Evaluación Colaborativa</strong><br>

    <ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-screenshot"></span> <a href="#">Trabajo Colaborativo 1</a></li>
      <li><span class="glyphicon glyphicon-screenshot"></span> <a href="#">Trabajo Colaborativo 2</a></li>

    </ul>


  </div>
  <div class="col-md-4"><strong>Evaluación Sumativa</strong><br>
    <ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-ok"></span> <a href="#">Trabajo Final de la Unidad 1</a></li>


    </ul>

  </div>
</div><!-- CONTENT TAB ENDS HERE -->


  </div>
  <div class="tab-pane" id="tab3b">


<div class="row"><br><!-- CONTENT TAB BEGNIS HERE -->
  <div class="col-md-4"><strong>Evaluación Formativa</strong>


<ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 1</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 2</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 3</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 4</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 5</a></li>
    </ul>



  </div>
  <div class="col-md-4"><strong>Evaluación Colaborativa</strong><br>

    <ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-screenshot"></span> <a href="#">Trabajo Colaborativo 1</a></li>
      <li><span class="glyphicon glyphicon-screenshot"></span> <a href="#">Trabajo Colaborativo 2</a></li>

    </ul>


  </div>
  <div class="col-md-4"><strong>Evaluación Sumativa</strong><br>
    <ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-ok"></span> <a href="#">Trabajo Final de la Unidad 2</a></li>


    </ul>

  </div>
</div><!-- CONTENT TAB ENDS HERE -->

  </div>
  <div class="tab-pane" id="tab3c">


<div class="row"><br><!-- CONTENT TAB BEGNIS HERE -->
  <div class="col-md-4"><strong>Evaluación Formativa</strong>


<ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 1</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 2</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 3</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 4</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 5</a></li>
    </ul>



  </div>
  <div class="col-md-4"><strong>Evaluación Colaborativa</strong><br>

    <ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-screenshot"></span> <a href="#">Trabajo Colaborativo 1</a></li>
      <li><span class="glyphicon glyphicon-screenshot"></span> <a href="#">Trabajo Colaborativo 2</a></li>

    </ul>


  </div>
  <div class="col-md-4"><strong>Evaluación Sumativa</strong><br>
    <ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-ok"></span> <a href="#">Trabajo Final de la Unidad 3</a></li>


    </ul>

  </div>
</div><!-- CONTENT TAB ENDS HERE -->




  </div>
  <div class="tab-pane" id="tab3d">

<div class="row"><br><!-- CONTENT TAB BEGNIS HERE -->
  <div class="col-md-4"><strong>Evaluación Formativa</strong>


<ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 1</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 2</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 3</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 4</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 5</a></li>
    </ul>



  </div>
  <div class="col-md-4"><strong>Evaluación Colaborativa</strong><br>

    <ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-screenshot"></span> <a href="#">Trabajo Colaborativo 1</a></li>
      <li><span class="glyphicon glyphicon-screenshot"></span> <a href="#">Trabajo Colaborativo 2</a></li>

    </ul>


  </div>
  <div class="col-md-4"><strong>Evaluación Sumativa</strong><br>
    <ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-ok"></span> <a href="#">Trabajo Final de la Unidad 4</a></li>


    </ul>

  </div>
</div><!-- CONTENT TAB ENDS HERE -->


  </div>
    <div class="tab-pane" id="tab3e">


<div class="row"><br><!-- CONTENT TAB BEGNIS HERE -->
  <div class="col-md-4"><strong>Evaluación Formativa</strong>


<ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 1</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 2</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 3</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 4</a></li>
      <li><span class="glyphicon glyphicon-file"></span> <a href="#">Hoja de Trabajo 5</a></li>
    </ul>



  </div>
  <div class="col-md-4"><strong>Evaluación Colaborativa</strong><br>

    <ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-screenshot"></span> <a href="#">Trabajo Colaborativo 1</a></li>
      <li><span class="glyphicon glyphicon-screenshot"></span> <a href="#">Trabajo Colaborativo 2</a></li>

    </ul>


  </div>
  <div class="col-md-4"><strong>Evaluación Sumativa</strong><br>
    <ul style="list-style: none;"><br>
      <li><span class="glyphicon glyphicon-ok"></span> <a href="#">Trabajo Final de la Unidad 5</a></li>


    </ul>

  </div>
</div><!-- CONTENT TAB ENDS HERE -->



    </div>
</div>


      </div>
    </div>
  </div>
</div>

<footer>
<div class="row">
  <div class="col-md-4">2014 © Copyright Edwin Merced All rights reserved</div>
  <div class="col-md-4"></div>
  <div class="col-md-4 text-right"><a href="3">Privacy</a>     |   <a href="3">Terms of Use</a>   |   <a href="3">About Us</a></div>
</div>
 </footer 


    </div> <!-- END MAIN CONTAINER -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
